/* Colors:
Light pink: #FAC8BF
Cyan: #FAC8BF
Dark blue: #466676
Light blue: #6A8D9E
Light grey: #CCCCCC

Fonts:
H1: Merriweather Sans
H2: Biryani
p: Rasa */
header {
  background-color: #eeeeee;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 0.75);
  position: fixed;
}

main {
  padding-top: 236px;
}

.logo {
  max-width: 150px;
  min-width: 250px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}

ul>li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.00em;
  font-weight: 100;
}

nav {
  /*width: 100%;*/
  margin: 20px 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*nav>ul>li {
  display: inline-block;
}*/
nav>ul>li>a {
  padding: 0 15px;
}

nav>ul>li>a:hover, a:focus {
  color: #FAC8BF;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

nav>ul>li>a:active {
  /* selected link */
  color: #93FFFC;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2.25em;
  font-weight: 300;
  text-align: center;
  color: #f79381;
}

h2 {
  font-family: 'Biryani', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  color: #f79381;
}

h3 {
  font-family: 'Biryani', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.00em;
  font-weight: 100;
}

img, iframe {
  width: 100%;
}

a {
  color: #466676;
  text-decoration: none;
  /* No underlining */
}

a:hover, a:focus {
  color: #FAC8BF;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #93FFFC;
}

.button {
  display: inline-block;
  background-color: #6A8D9E;
  color: #ffffff;
  font-weight: 200;
  padding: 10px;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  background-color: #466676;
  text-decoration: none;
  opacity: 0.8;
}

.button:active {
  display: inline-block;
  background-color: #466676;
  color: #93FFFC;
  font-weight: 200;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button.contact {
  background-color: transparent;
  color: #466676;
  border: 2px solid #466676;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #466676;
  color: #FAC8BF;
}

.button.contact:active {
  background-color: #466676;
  color: #93FFFC;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li  {
  display: block;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin: 0px 10px 0px 0px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .logo {
    margin-left: unset;
    margin-right: unset;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
